<div class="post">

<strong>See the <a href="https://calendar.google.com/calendar/embed?src=polytechnique.org_mtciqkdgk679fo5h6vig5nihjc%40group.calendar.google.com&amp;ctz=Europe%2FParis">Google Agenda of the colloquium</a>, and add the <a href="https://calendar.google.com/calendar/ical/polytechnique.org_mtciqkdgk679fo5h6vig5nihjc%40group.calendar.google.com/public/basic.ics">iCal url</a> to your calendar.</strong>

<hr />

<h2><span style="text-decoration: underline">Next session</span></h2>
</div>
<div class="post" style="text-align: center"><strong>Christian Lubich (Universität Tübingen)</strong></div>
<p style="text-align: center"><em>Thursday, May 7th, 2026, 10h30
Salle de séminaire du CERMICS
</em><span style="text-decoration: underline">Dynamical low-rank approximation and time integration of tree tensor networks</span></p>
<p style="text-align: left">The talk first presents some numerical experiments with time-dependent tree tensor network algorithms for the approximation of quantum spin system dynamics. It continues with the basics in the design of time integration methods that are robust to the typical presence of small singular values, that have good structure-preserving properties (norm, energy conservation or dissipation), and that allow for rank (= bond dimension) adaptivity and for parallelism. The discussion of basic concepts forms the main part of the talk and will be done for the smallest possible type of tensor network differential equations, namely low-rank matrix differential equations, which are of interest in their own right. Once this technically simplest, yet nontrivial case is understood, there is a systematic path to the extension of the low-rank integrators and their favourable properties to general tree tensor networks.</p>
<p style="text-align: left">This talk is based on joint work with many colleagues and former and present students, among which I wish to single out Othmar Koch for the first mathematical work on dynamical low-rank approximation (DLRA) in 2007, Ivan Oseledets for jointly discovering the first robust DLRA integrator in 2014 (the projector-splitting integrator), Gianluca Ceruti and Jonas Kusch for jointly developing the Basis Update &amp; Galerkin (BUG) integrators since 2022, and Hanna Walach, Gianluca Ceruti, Dominik Sulz and Charlotte Verhoeven for the recent systematic extension from low-rank matrices to general tree tensor networks both in theory and in increasingly efficient implementations.</p>


<hr />

<h2><span style="text-decoration: underline">Past sessions</span></h2>
<strong>Bertrand Maury (Académie des Sciences et Université Paris-Saclay)</strong>
<em>Thursday, January 15th, 2026, 15h30
</em><span style="text-decoration: underline">Dégénérescences hilbertiennes</span>

<strong>Timothy Gowers (Collège de France and University of Cambridge)
</strong><em>Friday, October 17th, 2025, 16h<span style="color: #ff0000">
</span></em><span style="text-decoration: underline">Applications of Shannon entropy in combinatorics</span>

<strong>Josselin Garnier (Académie des Sciences et École polytechnique)</strong>
<em>Thursday, April 10th, 2025, 14h</em>
<span style="text-decoration: underline">Utilisation de modèles d'ordre réduit pour l'imagerie par ondes</span> (<a href="https://cermics.enpc.fr/~reygnerj/garnier2025.pdf">slides</a>)

<strong>François Golse (École polytechnique)
</strong><em>Wednesday, November 20th, 2024, 14h</em>
<span style="text-decoration: underline">Distance de Wasserstein et observabilité en dynamique quantique</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2024/11/slides_golse_2024.pdf">slides</a>)<span style="text-decoration: underline">
</span>

<strong>Nalini Anantharaman (Académie des Science et Collège de France)</strong>
<em>Wednesday, May 22nd, 2024, 10h
</em><span style="text-decoration: underline">Trou spectral des surfaces hyperboliques aléatoires</span>

<strong>Andrea Lodi (Cornell Tech)</strong>
<em>Friday, February 9th, 2024, 10h30
</em><span style="text-decoration: underline">Mixed-Integer Programming: 75 years of history and the Artificial Intelligence challenge</span> (<a href="https://cermics.enpc.fr/~reygnerj/cs/slides_lodi.pdf">slides</a>)<span style="text-decoration: underline">
</span>

<strong>Andrew Stuart (Caltech)
</strong><em>Thursday, December 14th, 2023, 15h
</em><span style="text-decoration: underline">Learning Solution Operators For PDEs: Algorithms, Analysis and Applications</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2023/12/APDE.pdf">slides</a>)<span style="text-decoration: underline">
</span>

<strong>Peter K. Friz (TU and WIAS Berlin)
</strong><em>Thursday, June 8th, 2023, 14h
</em><span style="text-decoration: underline">Reconciling Itô and rough path theory</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_friz.pdf">slides</a>)

<strong>Maciej Zworski (University of California, Berkeley)</strong>
<em>Wednesday, April 19th, 2023, 14h
</em><span style="text-decoration: underline">Magic angles in the chiral model of twisted bilayer graphene</span> (<a href="https://math.berkeley.edu/~zworski/cermics_no_pause.pdf">slides</a>)

<strong>Jean-Bernard Lasserre (CNRS, Université de Toulouse)</strong>
<em>Monday, December 12th, 2022, 14h
</em><span style="text-decoration: underline">Moments, positive polynomials and the Christoffel function</span> (<a href="https://cermics.enpc.fr/~reygnerj/cs/slides_lasserre.pdf">slides</a>)

<strong>Hugo Duminil-Copin (IHES, Université de Genève)
</strong><em>Thursday, March 10th, 2022, 14h
</em><span style="text-decoration: underline"><span style="color: #000000;text-decoration: underline">Symétries émergentes en physique statistique planaire</span></span><span style="color: #000000"> (<a href="https://cermics.enpc.fr/~reygnerj/cs/slides_duminil.pdf">slides</a>)</span><span style="text-decoration: underline"><span style="color: #000000;text-decoration: underline">
</span></span>
<div><strong>Benoît Perthame (Académie des Sciences, Sorbonne Université)</strong></div>
<em>Wednesday, October 6th, 2021, 14h
</em><span style="text-decoration: underline"><span style="color: #000000;text-decoration: underline">Structured equations in biology</span></span><span style="color: #000000"> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_perthame_2021.pdf">slides</a>)</span><span style="text-decoration: underline"><span style="color: #000000;text-decoration: underline">
</span></span>

<strong>Jean-Michel Coron (Académie des Sciences, Sorbonne Université)</strong><strong>
</strong><em>Wednesday, January 22th, 2020, 14h</em>
<span style="text-decoration: underline">Comment utiliser les non-linéarités pour contrôler un système</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2020/01/slides_coron.pdf">slides</a>)

<strong>Serge Abiteboul (Académie des Sciences, ENS/Inria, ARCEP)
</strong><em>Wednesday, January 22th, 2020, 10h
</em><span style="text-decoration: underline">Responsible data management</span> (<a href="https://cermics.enpc.fr/~reygnerj/cs/slides_abiteboul.pdf">slides</a>)

<strong>János Pach (Renyi Institute Budapest and MIPT Moscow, Bézout Chair 2019)</strong>
<em>Jointly organized with Labex Bézout
Tuesday, November 12th, 2019, 14h
</em><span style="text-decoration: underline">How to escape the curse of dimensionality in combinatorics</span>

<strong>Stéphane Mallat (Collège de France et Académie des Sciences)
</strong><em>Friday, September 20th, 2019, 10h<span style="color: #000000">
</span></em><span style="text-decoration: underline">Mathematical Mysteries of Deep Neural Networks</span> (<a href="https://cermics.enpc.fr/~reygnerj/cs/slides_mallat.pdf">slides</a>)<span style="text-decoration: underline">
</span>

<strong>Alice Guionnet (ENS Lyon et Académie des Sciences)
</strong><em>Tuesday, June 25th, 2019, 10h
</em><span style="text-decoration: underline">Entropie et grandes déviations en théorie des matrices aléatoires</span>

<strong>Frank Merle</strong> <strong>(</strong><b>Université de Cergy-Pontoise et IHES</b><strong>)
</strong><em>Thursday, January 10th, 2019, 10h
</em><span style="text-decoration: underline">Asymptotics for Critical Nonlinear Dispersive Equations</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_merle.pdf">slides</a>)

<strong>Felix Otto (MPI Leipzig)</strong>
<em>Tuesday, November 20th, 2018, 10h
</em><span style="text-decoration: underline">Randomness in Partial Differential Equations</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_otto.pdf">slides</a>)<span style="text-decoration: underline">
</span>

<strong>R. Tyrrell Rockafellar (University of Washington)
</strong><em>Thursday, October 25th, 2018, 9h
</em><span style="text-decoration: underline">Part I: The Role of Convex Analysis in Optimization</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_rockafellar_1.pdf">slides</a>)
<span style="text-decoration: underline">Part II: Progressive Decoupling of Linkages in Optimization with Elicitable Convexity</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_rockafellar_2.pdf">slides</a>)

<strong>Carsten Carstensen (Humboldt-Universität zu Berlin, Germany)
</strong><em>Tuesday, September 4th, 2018, 14h
</em><span style="text-decoration: underline">Discontinuous Petrov-Galerkin Schemes</span> (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_carstensen.pdf">slides</a>)

<strong>Bjorn Engquist (The University of Texas at Austin)</strong>
<em>Thursday, June 7th, 2018, 15h30
</em><span style="text-decoration: underline">Multiscale dynamical systems and parareal algorithms (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_engquist.pdf">slides</a>)</span>

<strong>Arturo Kohatsu-Higa (Ritsumeikan University)</strong>
<em>Thursday, May 31st, 2018, 15h15
</em><span style="text-decoration: underline">IPB pour diffusions arrêtées</span>

<strong>Panagiotis <span class="il">Souganidis</span> (The University of Chicago)</strong>
<em>Friday, May 18th, 2018, 16h
</em><span style="text-decoration: underline">Nonlinear stochastic partial differential equations (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_souganidis.pdf">slides</a>)</span><strong>
</strong>

<strong>Yann Brenier (ENS)</strong>
<em>Monday, March 5th, 2018, 10h30
</em><span class=""><span style="text-decoration: underline">Le problème de Cauchy pour les systèmes de lois de conservation entropiques traité par minimisation convexe (<a href="https://cermics-lab.enpc.fr/wp-content/uploads/2016/12/slides_brenier.pdf">slides</a>)</span></span><strong>
</strong>

<strong>Laure Saint-Raymond (ENS de Lyon </strong><b>et Académie des Sciences</b><strong>)</strong>
<em>Monday, December 18th, 2017, 14h
</em><span class=""><span style="text-decoration: underline">Forçage quasi-résonnant d’ondes internes dans un domaine avec topographie</span></span><br class="" /><span class="">(en collaboration avec Yves Colin de Verdière)</span><strong>
</strong>

<strong>Daniel Kuhn (EPFL)</strong>
<em>Wednesday, October 4th, 2017, 15h30
</em><u>Data-driven Distributionally Robust Optimization Using the Wasserstein Metric: Performance Guarantees and Tractable Reformulations</u>

<strong>Arnak Dalalyan (ENSAE)</strong>
<em>Thursday, June 15th, 2017, 10h
</em><span style="text-decoration: underline">On the Exponentially Weighted Aggregate with the Laplace Prior</span>

<strong>Mitchell Luskin (University of Minnesota)</strong>
<em>Monday October 17th, 2016, 2016, 14h</em>
<u>Mathematical Modelling of Incommensurate Materials</u>

<strong>Common seminar CERMICS/IMAGINE</strong>
<i>Tuesday June 7th, 2016, 10h
</i>10h : Mathieu Aubry (IMAGINE, École des Ponts ParisTech), <u>Representing 3D models for matching and retrieving</u> (<a href="http://cermics.enpc.fr/cermics-seminaires/seminaires/cs/Seminaire15-16/AubryAbstract.pdf">abstract</a>, <a href="http://cermics.enpc.fr/cermics-seminaires/seminaires/cs/Seminaire15-16/AubrySlides.pdf">slides</a>),
11h : Francis Bach (Inria et ENS), <u>Beyond stochastic gradient descent for large-scale machine learning</u> (<a href="http://cermics.enpc.fr/cermics-seminaires/seminaires/cs/Seminaire15-16/BachAbstract.pdf">abstract</a>, <a href="http://cermics.enpc.fr/cermics-seminaires/seminaires/cs/Seminaire15-16/BachSlides.pdf">slides</a>).

<strong>Emilie Kaufmann </strong><small class="aff"><strong>(CNRS)</strong>
</small><i>Wednesday March 30th, 2016, 14h
</i><u>Multi-armed bandit models: a tutorial <a href="http://cermics.enpc.fr/cermics-seminaires/seminaires/cermics/multiarmed-bandit.pdf"> (slides)</a></u>

<strong>Hugo Touchette </strong><small class="aff"><strong>(National Institute for Theoretical Physics)</strong>
</small><i>Monday November 30th, 2015, 14h
</i><u>Théorie des grandes déviations : des mathématiques à la physique. <a href="http://cermics.enpc.fr/cermics-seminaires/seminaires/cermics/ldt-cermics1.pdf"> (slides)</a></u>
