Une série de séminaires de recherche organisés à l'École autour de la science de la donnée.
<h2>Prochaine session</h2>
<h2 style="text-align: center">TBA</h2>
<h3 style="text-align: center">Edwige Cyffers (CNRS, Université Paris-Dauphine-PSL)</h3>
<p style="text-align: center">Jeudi 18 juin 2026, 11h45, salle F107 (bâtiment Coriolis)</p>
&nbsp;
<h2>Programme 2025–2026 -- Save the date!</h2>
<ul>
 	<li>Jeudi 11 décembre 2025, 11h45, salle F107 (bâtiment Coriolis) : <a href="https://cmantoux.github.io/">Clément Mantoux</a> (SNCF), Working on real-world transportation modeling problems: examples at SNCF</li>
 	<li>Jeudi 12 février 2026, 11h45, salle F107 (bâtiment Coriolis) : <a href="https://www.julienrossi.com/">Julien Rossi</a> (Université Paris 8), Les propositions de Digital Omnibus simplifient-t-elles vraiment le droit de l'IA ?</li>
 	<li>Jeudi 9 avril 2026, 11h45, salle F107 (bâtiment Coriolis) : <a href="https://people.minesparis.psl.eu/fabien.moutarde/">Fabien Moutarde</a> (Mines Paris — PSL), Conduite automatisée : des aides à la conduite aux robo-taxis</li>
 	<li>Jeudi 18 juin 2026, 11h45, salle F107 (bâtiment Coriolis) : <a href="https://perso.ens-lyon.fr/edwige.cyffers/">Edwige Cyffers</a> (CNRS, Université Paris-Dauphine-PSL)</li>
</ul>
<h2>Programme 2024–2025</h2>
<ul>
 	<li>Vendredi 13 décembre 2024 : <a href="http://www.ljll.math.upmc.fr/~maday/">Yvon Maday</a> (Sorbonne Université), Plongée dans les eaux usées pour connaitre l’évolution des épidémies.</li>
 	<li>Vendredi 14 février 2025 : <a href="https://samovar.telecom-sudparis.eu/index.php/acmes-2/vincent-gauthier-2/">Vincent Gauthier</a> (Telecom SudParis), Curating and Mining Large-Scale Human Mobility Data: Linking Transport Research and Disaster Recovery.</li>
 	<li>Vendredi 11 avril 2025 : <a href="https://www-npa.lip6.fr/~sf/">Serge Fdida</a> (Sorbonne Université), SLICES: First sustainable scientific instrument for research in digital infrastructures.</li>
 	<li>Vendredi 13 juin 2025 : <a href="https://datamove.imag.fr/denis.trystram/">Denis Trystram</a> (Grenoble INP), Le pari de la transition numérique.</li>
</ul>
<h2>Mailing list</h2>
Pour s'inscrire à la mailing list, envoyer un email à <a href="mailto:sympa@liste.enpc.fr">sympa@liste.enpc.fr</a> avec pour objet : <strong>subscribe seminaire-science-donnee VotrePrénom VotreNom</strong>.

Pour s'en désinscrire, envoyer un email à <a href="mailto:sympa@liste.enpc.fr">sympa@liste.enpc.fr</a> avec pour objet : <strong>unsubscribe seminaire-science-donnee</strong>.
<h2>Organisateurs</h2>
<a href="https://gdalle.github.io/">Guillaume Dalle</a>, <a href="http://cermics.enpc.fr/~reygnerj/">Julien Reygner</a>, <a href="http://dtuncer.com/">Daphné Tuncer</a>
